<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>This is just Testing</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
  </head>
  <body style="background-color: #191919;">
    <main>
      <header class="header">
        <!-- Top Nav -->
        <nav class="top-nav">
          <article class="btn">
            <p class="btn-1"><a href="#about" style=color:#fff>About</a></p>
            <p class="btn-2"><a href="#work" style=color:#fff>Portofolio</a></p>
          </article>
        </nav>
        <!-- Jumbotron Section -->
        <section class="jumbotron">
          <article class="jumbotron-left">
            <h1>Hello! Im Faiza Zuma</h1>
            <p>An Ordinary student who believe in Quantity made Quality</p>
            <button class="blog"><a href="https://zumafaiz97.wixsite.com/kulonuwun" target="_blank">Blog</a></button>
          </article>
          
          <article class="jumbotron-right">
            <center>
              <img src="static/undraw_Coding_re_iv62.svg" alt="Web Programming">
            </center>
          </article>
        </section>
      </header>

      <div class="main">
        <!-- Main Content -->
        <h2>About Me</h2>
        <section class="tentang-saya" id="about">
          <article class="saya">
            <center>
              <img src="static/faiz.png" alt="faz" width="175">
            </center>
            <p style=color:#fff>Heyo! Sugeng rawuh! Yup kenalin gue <b>Faiza Zuma</b> civitas salah satu kampus di Indonesia atau biasanya kampus gue lebih dikenal dengan Kampus Gajah, yup bener kampus yang itu. So laman ini adalah laman pribadi gue dan lman ini hanya berisi sisi lain dari Faiza Zuma seorang mahasiswa tak biasa yang lelah dengan penatnya hiruk pikuk perkuliahan di Kampus Gajah. Oleh karena itu bagi kalian yang tidak punya waktu luang yang lebih baik kalian kerjakan perkerjaan kalian dan kembali kesini juga sedang gabut. Check it out!</p>
          </article>
          <article class="contact">
            <h3 class="nodecor">Contact :</h3>
            <p style=color:#fff>For more information, feel free to get in touch with me! Ciao!</p>
            <p style=color:#fff>Email   : <a href="mailto:rizqighana@gmail.com" target="_blank">zumafaiz97@gmail.com</a></p>
            <p style=color:#fff>Github   : <a href="https://github.com/faizazum17" target="_blank">@faizazum17</a></p>
            <p style=color:#fff>Twitter  : <a href="https://twitter.com/smilingsoto" target="_blank">@smilingsoto</a></p>
            <p style=color:#fff>Instagram : <a href="https://www.instagram.com/faizazuma" target="_blank">@faizazuma</a></p>
          </article>
        </section>

        <section class="skill">
          <h2 style=font-size:35px>Skill</h2>
          <div class="skill-items">
            <article class="frontend">
              <center><img src="static/frontend.png" alt=""></center>
              <p>Front-End ~ ##%</p>
            </article>
            <article class="backend">
              <center><img src="static/backend.png" alt=""></center>
              <p>Back-End ~ ##%</p>
            </article>
            <article class="ui">
              <center><img src="static/uiux.png" alt=""></center>
              <p>UI/UX Design ~ ##%</p>
            </article>
          </div>
        </section>

        <h2 style=font-size:35px>Portofolio</h2>
      
        <section class="portofolio" id="work">
          <article class="card-1">
            <h3 style=color:#333>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam faucibus purus in massa tempor nec feugiat nisl. Suspendisse in est ante in nibh mauris cursus mattis molestie. Dictum non consectetur a erat nam at lectus urna.</p>
          </article>
          <article class="card-2">
            <h3 style=color:#333>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam faucibus purus in massa tempor nec feugiat nisl. Suspendisse in est ante in nibh mauris cursus mattis molestie. Dictum non consectetur a erat nam at lectus urna.</p>
          </article>
          <article class="card-3">
            <h3 style=color:#333>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam faucibus purus in massa tempor nec feugiat nisl. Suspendisse in est ante in nibh mauris cursus mattis molestie. Dictum non consectetur a erat nam at lectus urna.</p>
          </article>
        </section>
      </div>

		
		<!-- Footer Section -->
      <footer class="footer">
        <p class="copy" style=color:#333>&copy;faizazuma | 2022. Made with Struggle in Bandung.</p>
        <p class="github">Sumber Kode Terbuka di <a href="https://github.com/faizazum17">Github</a></p>
        <p class="top">
          <a href="#">Home</a>
        </p>
      </footer>
	  </main>

  </body>
</html>